*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.alinka-section {
  padding: 0 35px;

  @include media-queries("tablet") {
    padding: 0 150px;
  }
}

.titles {
  padding: 50px 0 30px;
  font-family: $osfald;
  font-size: $font-md;
  font-weight: 200;

  @include media-queries("tablet") {
    font-size: $font-lg;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 3px solid $pink;
  }
}
