*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.alinka-section {
  padding: 0 10%;
}

.titles {
  padding: 50px 0 30px;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 200;
  @include media-queries("tablet") {
    font-size: 46px;
  }
}
