.download {
    position: relative;

    &__title {
        display: inline-block;
    }

    &__title:after {
        margin: 10px 30px 0 10px;
    }

    @include media-queries("desktop") {
        &__graphics {
            top: 30px;
            right: 10px;
            position: absolute;
        }
    }
}
