.download {
    position: relative;
}

.download__title {
    display: inline-block;
}

.download__title:after {
    margin: 10px 30px 0 10px;
}

@include media-queries("desktop") {
    .download__graphics {
        top: 30px;
        right: 10px;
        position: absolute;
    }
}
