.features {
    
}

.features__list {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 3px 0px #888;
    font-family: $montserrat;
    font-size: $font-xs;
}

.features__item {
    padding: 20px 0;
    width: 33.3333%;
    float: left;
    text-align: center;
    border-right: 1px solid #bdbebd;
}

.features__item:last-child {
    border-right: none;
}

.features__list:after {
    clear: left;
    display: block;
    content: "";
}

.feature__icon {
    margin-bottom: 20px;
}

