.features {
  &__list{
    background: $white;
    padding: 20px;
    box-shadow: 0px 2px 3px 0px $gray;
    font-family: $montserrat;
    font-size: $font-xs;
    display: flex;
    }

  &__item {
    width: 33.3333%;
    padding: 20px 0;
    text-align: center;
    border-right: 1px solid $gray;
    }

  &__item:last-child {
    border-right: none;
    }

  &__icon {
    margin-bottom: 20px;
    }
}
