.features {
  &__list {
    background: $white;
    padding: 20px;
    box-shadow: 0px 2px 3px 0px $gray;
    font-family: $montserrat;
    font-size: $font-xs;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-bottom: 40px;
    justify-content: space-evenly;

    @include media-queries('tablet') {
      flex-direction: row;
      max-width: none;
    }
  }

  &__item {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid $gray;
    width: 100%;

    &:last-child {
      border-bottom: none;
      border-right: none;
    }

    @include media-queries('tablet') {
      border-right: 1px solid $gray;
      border-bottom: none;
    }
  }

  &__icon {
    margin-bottom: 20px;
  }
}
