.header {
  background-image: url("../images/header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
    max-width: $max-page-width;
    margin: auto;

    @include media-queries("tablet") {
      padding: 1.2rem 3rem 1.7rem;
    }
  }

  &__item {
    padding: 0.2rem 1rem 2rem;
    text-decoration: none;

    @include media-queries("tablet") {
      padding: 0.2rem 3rem 2rem;
    }
  }

  &__item:first-child {
    flex-grow: 1;
  }

  &__logo {
    font-family: $roboto;
    font-size: $font-md;
    color: $white;
    text-decoration: none;

    @include media-queries("tablet") {
      font-size: $font-lg;
    }
  }

  &__link {
    font-family: $roboto;
    font-size: $font-xs;
    color: $white;
    text-decoration: none;

    @include media-queries("tablet") {
      font-size: $font-sm;
    }
  }
}
