.header {
  background-image: url("../images/header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
    @include media-queries("tablet") {
      padding: 1.2rem 3rem 1.7rem;
    }
  }

  &__item {
    padding: 0.2rem 1rem 2rem;
    @include media-queries("tablet") {
      padding: 0.2rem 3rem 2rem;
    }
    text-decoration: none;
  }

  &__item:first-child {
    flex-grow: 1;
  }

  &__logo {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: $font-light;
    text-decoration: none;

    @include media-queries("tablet") {
      font-size: 50px;
    }
  }

  &__link {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    color: $font-light;
    text-decoration: none;

    @include media-queries("tablet") {
      font-size: 18px;
    }
  }
}
