.intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-queries('tablet') {
        align-items: flex-start;
        position: relative;
        min-height: 615px;
    }
}

.intro__title {
    font-family: $dancing-script;
    font-size: $font-xl;
    font-weight: normal;

    @include media-queries('tablet') {
        font-size: $font-xxl;
    }
}

.intro__description {
    padding-bottom: 50px;
    font-family: $playfair;
    font-size: $font-sm;
    font-weight: normal;

    @include media-queries('tablet') {
        font-size: $font-md;
    }
}

.intro__graphics {
    align-self: center;
    max-width: 80%;
    padding-top: 50px;

    @include media-queries('tablet') {
        position: absolute;
        z-index: -2;
    }
}
