// Colors
$font-light: #fff;
$main-color: #0D4C5E;
$secondary-color: #b4437b;

// Font families
$dancing-script: 'Dancing Script', cursive, sans-serif;
$playfair: 'Playfair Display', sans-serif;
$osfald: "Oswald", sans-serif;
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;

// Font sizes
$font-xxs: 12px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 28px;
$font-lg: 50px;
$font-xl: 80px;
$font-xxl: 96px;
