// Colors
$white: #fff;
$blue: #0D4C5E;
$lightblue: lighten($blue, 10%);
$pink: #b4437b;
$lightpink: lighten($pink, 10%);
$black: #000;
$gray: #bdbebd;

// Font families
$dancing-script: 'Dancing Script', cursive, sans-serif;
$playfair: 'Playfair Display', sans-serif;
$osfald: "Oswald", sans-serif;
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;

// Font sizes
$font-xxs: 12px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 28px;
$font-lg: 50px;
$font-xl: 80px;
$font-xxl: 96px;

// Max page width
$max-page-width: 1500px;
